
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

 @layer base{
    body{
        width: 100vw;
    }
}

@layer components{
    .services{
        background-color: #E0E0E0;
        overflow:hidden ;
        border-radius: 10px;
        padding: 10px;
        
    }
    .services::before{
        content: "";
        position: absolute;
        width: 100px;
        height: 600px;
        background-color: #156963;
        left: 30%;
        top: -200px;
        animation: rotates 5s linear infinite;

    }

    .services::after{
        position: absolute;
        content: "";
        z-index: 5;
        inset: 2px;
        border-radius: 10px;
        background-color: #ffffff;
    }
    @keyframes rotates {
        0%{
          transform: rotate(360deg);
        } 100%{
          transform: rotate(0deg);
        } 
  }

    
}

@layer components{

    .hovbtn{}
    .btn{
        color: #156963;
    }
    .hovbtn:hover > .btn{
        color: white;
    }
    .hstack{
        display: flex;
        flex-direction: row;
    }
    .vstack{
        display: flex;
        flex-direction: column;
    }
    .worksans{
        font-family: "Work Sans", sans-serif;
    }
    .itio{
        font-family: "Nunito", sans-serif;
    }
    .montserrat{
        font-family: "Montserrat", sans-serif;
    }
    .poppins{
        font-family: "Poppins", sans-serif;
    }
    .margin-center {
        margin: 0 auto;
    }
    .wrap{
        position: relative;
        overflow: hidden;
        z-index: -3;
        border-top-right-radius: 10px;
    }
    .wrap::before{
        position: absolute;
        content: "";
        background-color: #156963;
        width: 200px;
        height: 750px;
        right: 0px;
        top: 0px;
        animation: rotate 8s 0s infinite linear ;
    }
    .wrap::after{
        position: absolute;
        content: "";
        inset: 2px;
        z-index: 5;
        border-top-right-radius: 10px;
        background-color: rgb(255, 255, 255);
    }
    @keyframes rotate {
            0%{
                transform: rotate(215deg);
            }
            50%{
                transform: rotate(327deg);
            }
            100%{
                transform: rotate(215deg);         
            }
    }

    
}



